<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>register</title>
	</head>
	<body>
		<h1 >Hello User</h1><br/>
		<h2>Registration Form</h2>
		</br >
		<form th:action="@{/getForm}" action="#" method="post"  th:object="${registerData}">
			<table>
				<tr>
					<td><label for="Name" class="label">Name</label></td>
					<td><input th:field="*{firstName}" type="text" name="userName"  /></td>
				</tr>
				<tr>
					<td><label for="surname" class="label">Surname</label></td>
					<td><input th:field="*{lastName}" class="input" type="text"/><br/></td>
				</tr>
				<tr>
					<td><label for="emailId" class="label">E-mail</label></td>
					<td><input th:field="*{email}" class="input" type="email"/><br/></td>
				</tr>
				<tr>
					<td><label for="PhoneNo" class="label">PhoneNumber</label></td>
					<td><input th:field="*{phoneNumber}" class="input" type="tel" maxlength="10"/><br/></td>
				</tr>
			</table>	
			<input type="submit" value="submit">
		</form>
	</br>
</html>